@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  border: 5px solid rgb(0, 0, 0);
}

@media (max-width: 1200px) {
.aaa {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
}
}

@media (max-width: 450px) {
  .aaa {
    justify-content: center;
    display: block;
  }
}


.hehe {
  margin: 0 auto;
  width: 10rem;
}

.rah {
  visibility: hidden;

}

table {
  margin: 0 auto;
}


tr th {
  border: 5px solid;

}


.item {
  border: 5px solid;
}

.aah {
  border: 2px solid;
}

.haha {
  width: 2rem;
}

.invisible {
 border-left: none;
 border-right: none;
 border-bottom: none;
}

.haha2 {
  border-left: none;
  
}

.vragen {
  border: 2px solid black;
  gap: 8;
}

.gah {
  border-collapse: separate; 
  padding: 0;
  width: 10v
}

@media only screen and (max-width: 940px) {
.vragen {
  border: 2px solid black;
  gap: 8;
  display: block;
  margin-top: 20px;
  width: 40vw;
  position: relative;
}
}

@media only screen and (max-width: 940px) {
  .ger {
    width: 8%;
  }
  .gor {
    width: 8%;
  }
}

@media only screen and (max-width: 1020px) {
  .ger2 {
    width: 8%;
    margin: 0;
    margin-left: 15px;
  }
  .gor2 {
    width: 8%;
    margin: 0;
    margin-right: 15px;
  }
}





